@model IEnumerable<EntityFrameworkModel.Købstilbud>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pris)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Køber.navn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salgsudbud.metaltype)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pris)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Køber.navn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salgsudbud.metaltype)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KøbstilbudId }) |
            @Html.ActionLink("Details", "Details", new { id=item.KøbstilbudId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KøbstilbudId })
        </td>
    </tr>
}

</table>
